
            a {
		text-decoration: none;
	      }

            * {
                margin: 0;
                padding: 0;
            }
            
            body {
                background-image: url("./media/ez.mp4");
                font-family: "Arial Black", Gadget, sans-serif;
            }


            .content {
		    text-align: center;
                position: absolute;
                width: 100%;
                min-height: 100%;
                z-index: 1000;
                background-color: rgba(0,0,0,0.7);
            }

            .content h1 {
                text-align: center;
                font-size: 65px;
                text-transform: uppercase;
                font-weight: 300;
                color: white;
                padding-top: 15%;
                margin-bottom: 10px;
            }

            .content p {
                text-align: center;
                font-size: 20px;
                letter-spacing: 3px;
                color: white;
            }

            .content a { text-decoration: none; color: white }
            a:visited { text-decoration: none; }
            a:hover { text-decoration: none; }
            a:focus { text-decoration: none; }
            a:hover, a:active { text-decoration: none; }
